// Colors
$accent: #7F7FFF;
$fontsize: 16px; // Body Font Size
$textcolor: #111111; // Text Color
$lineheight: 24px; // Document Line Height
$userfont: "Roboto", sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

$b-sm: 576px;
$b-md: 768px;
$b-lg: 992px;
$b-xl: 1200px;
$b-xxl: 1400px;
