include ../../utils/mixins
include ../../components/icons/icons

block variables

doctype html
html(lang="en")
	head
		include ../../includes/head
	body
		block content
		include ../../includes/scripts