extends ../layouts/default

block variables
	- const title = "New Page";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")