extends layouts/default
include utils/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	.container
		.main
			picture._img
				source(srcset="../img/pic_webp.webp" type="image/webp").img-responsive
				img(src="../img/pic_webp.png" alt="").img-responsive
			._text
				p
					| Чтобы начать работу, отредактируйте файл
					code src/views/index.pug
					|  и сохраните, чтобы увидеть изменения в браузере

block scripts
	script(src="../js/main.js")