extends ./extends/layout
block content
	.wrapper
		.wrapper__subtitle
			p Just make changes to the files <code>.pug</code>, <code>.scss</code> or <code>.js</code>. Your web browser will reload the web page itself and Gulp will re-build your project
		include ./components/icons